@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Bebas Neue', cursive;
}
body{
  display: flex;
  justify-content: center;
  align-items:center;
  min-height:100vh;
  background: #CAF4F4;
}

h2{
  position:relative;
  font-size:14vw;
  color:#F76010;
  -webkit-text-stroke:0.3vw #FDE0D9;
  text-transform:uppercase;
}
div{
  padding:30px;
  
}



